  each items in elevdata 
    if items.username == userr.id 

            strong #{moment(items.elevdate).format('MMM Do')} - #{items.eleventrytitle} #{items.username}
            p #{items.elevcat} #{userr.id}
            a(href='/account/elevator/'+items._id) Edit
            hr

  #calendar
