extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

  include ../partials/profilehead.pug


  - var userr = { id: user.profile.group }

  
  span SAVINGS - 
  a(href='/account/setup') Settings - 
  if user.profile.group == "Taxes with mom"
    a(href='/account/activity-print') Tax Data -  
    hi hi mom!  
  else 
    a(href='/account/activity-print') Data Tables-  
  a(href='/account/payment') New transaction

    hr

  col-4 
    
    br
  h3 Your Umati Transaction Records
    br
    br 
    .container-fluid
      .row-fluid
        .span3
  - var userr = { id: user._id }
    each item,index in activity_list
        //first section
        if item.username == userr.id
          .row.align-items-center.how-it-works
              .col-2.text-center.bottom
                  if item.type == "fart"
                  .circle.circleattr.h6 #{moment(item.date).format('MMMD')}
              .col-6
                  h5 $#{item.amount} #{item.source} payment 
                  div.small witnessed by
                  div #{item.witness} - #{item.comment}
                
          .row.timeline
              .col-2
                  .corner.top-right
              .col-8
                  hr
              .col-2
                  .corner.left-bottom
 
    br
    a(href='/account/payment').btn.buttontext.tn-outline-primary.circleadd.h2 Record a payment
     -  

    a(href='/account/requestpayment').btn.buttontext.tn-outline-primary.circleadd.h2 Request payment
