extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
  
  h2 BLOG MANAGER 
  if user._id == "5f6cf09b9a806936329128ed"
      span ADMIN EDITOR for 
      br
      a(href='/account/bloghomepage') homepage - 
  a(href='/account/blogsettings') settings - 
  a(href='/account/createpost') create a new post

  hr

  br

  - var userr = { id: user._id }
  - if (blogs.length)
    each posts in blogs
        if posts.username == userr.id 
            strong #{posts.posttitle} - #{posts.postdate}  - #{posts.postcat}
            br
            #{posts.post}
            a(href='/account/blog/'+posts._id).icon-edit Edit 
            updated  &nbsp; &nbsp; &nbsp;  updated #{moment(posts.updatedAt).format('MMM Do h:mm:ss a')}
            hr
  br
  br
  br
  br
  br
  br
  br
  hr
  include ../partials/profilehead.pug
