extends ../publiclayout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 #{blogdata.posttitle}


    .form-group.row

    h2 by #{blogdata.authorname}, #{blogdata.user} 
    p #{blogdata.post}
    p #{blogdata.location}
 
    p

    p #{blogdata.postcat}
    p #{blogdata.posttags}
    p #{blogdata.postdate}


    each posts in blogs
        if posts.username == userr.id
            a(href='/blog/'+posts._id).icon-edit 
              strong #{posts.posttitle} #{posts.postdate} #{posts.postcat} #{posts.posttag}
            br
