extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 Manage Your Blog Posts

  include ../partials/profilehead.pug
    a(href='/account/blogsettings') Settings - 
    a(href='/account/createpost') Create a Post

    hr

  - if (blogs.length)
    each posts in blogs 
        strong #{posts.posttitle} - #{posts.postdate}  - #{posts.postcat}
        br
        #{posts.post}
        a(href='/account/blog/'+posts._id).icon-edit Edit 
        updated  &nbsp; &nbsp; &nbsp;  updated #{moment(posts.updatedAt).format('MMM Do h:mm:ss a')}        
        hr 

