extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 Manage Blog Posts

  include ../partials/profilehead.pug

    .form-group.row
    a(href='/account/blog') Blog Settings - 
    a(href='/account/createpost') New Post

  form(action='/account/blog', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='posttitle') Post Title
      .col-md-7
        input.form-control(type='text', name='posttitle', id='posttitle', value=blog.posttitle, autocomplete)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='post') Post Content
      .col-md-7
        input.form-control(type='text', name='post', id='post', value=blog.post, autocomplete='post')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='location') Location
      .col-md-7
        input.form-control(type='text', name='location', id='location', value=blog.location, autocomplete='location')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='postcat') Category
      .col-md-7
        input.form-control(type='text', name='postcat', id='postcat', value=blog.postcat, autocomplete='postcat')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='posttags') Tags
      .col-md-7
        input.form-control(type='text', name='posttags', id='posttags', value=blog.posttags, autocomplete='posttags')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='postdate') Date
      .col-md-7
        input.form-control(type='date', name='postdate', id='postdate', value=blog.postdate, autocomplete='postdate')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Blog Post
