extends ../layout


block content
  h3 Your Calendar

  .pb-2.mt-2.mb-4.border-bottom

  include ../partials/profilehead.pug
    a(href='/account/calsettings') Settings - 
    a(href='/account/calentrycreate') Add an entry

  hr
 
  br
  - var userr = { id: user._id }
  hr

  - if (caldata.length)
  
  each items in caldata 
    if items.username == userr.id 

            strong #{moment(items.caldate).format('MMM Do')} - #{items.calentrytitle} #{items.username}
            p #{items.calcat} #{userr.id}
            a(href='/account/cal/'+items._id) Edit
            hr

  #calendar