extends ../layout


block content
  .pb-2.mt-2.mb-4.border-bottom
  include ../partials/profilehead.pug
  
  span CALENDAR - 
  a(href='/account/calsettings') Settings - 
  a(href='/account/calentrycreate') Add an entry

    hr

    br
  - var userr = { id: user._id }

  - if (caldata.length)
  
  each items in caldata 
    if items.username == userr.id 

            strong #{moment(items.caldate).format('MMM Do')} - #{items.calentrytitle} #{items.username}
            p #{items.calcat} #{userr.id}
            a(href='/account/cal/'+items._id) Edit
            hr

  #calendar

  script.
    var event={id:1 , title: 'New event', start:  new Date('2020-06-08')};
    $('#calendar').fullCalendar( 'renderEvent', event, true);
