extends ../layout


block content
  .pb-2.mt-2.mb-4.border-bottom
  include ../partials/profilehead.pug
  
  span CALENDAR - 
  a(href='/account/calsettings') Settings - 
  a(href='/account/calentrycreate') Add an entry

    hr

    br
  - var userr = { id: user._id }

  - if (caldata.length)
  
  each items in caldata 
    if items.username == userr.id 

            strong #{moment(items.caldate).format('MMM Do')} - #{items.calentrytitle} #{items.username}
            p #{items.calcat} #{userr.id}
            a(href='/account/cal/'+items._id) Edit
            hr

  #calendar

      .route#index
      .route#oct-week-3
      .route#oct-week-4
      .route#nov-week-1
      .route#schedule
      main.cal-device
        header.cal-header
          .cal-subheader
          .cal-bar
            .cal-button.-left
              i.fa.fa-bars.-calendar
              a.fa.fa-chevron-left.-schedule(href="#index")
            .cal-title
              .cal-heading.-calendar Calendar
              .cal-heading.-schedule Sunday, April 10
            .cal-button.-right
              i.fa.fa-search
        section.cal-app
          header.cal-week
            .cal-weekday SUN
            .cal-weekday MON
            .cal-weekday TUE
            .cal-weekday WED
            .cal-weekday THU
            .cal-weekday FRI
            .cal-weekday SAT
          .cal-scene.-calendar
            .cal-month.-october
              header.cal-header
                a.cal-link(href="#oct-week-1")
                  span April
                a.cal-arrow(href="#nov-week-1")
                  i.fa.fa-chevron-up
                a.cal-arrow(href="#oct-week-4")
                  i.fa.fa-chevron-up
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day(href="#schedule")
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
            .cal-month.-november
              header.cal-header
                a.cal-link(href="#nov-week-1")
                  span May
                a.cal-arrow
                  i.fa.fa-chevron-up
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day(href="#schedule")
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day(href="#schedule")
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day(href="#schedule")
              a.cal-day(href="#schedule")
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
            .cal-month.-december
              header.cal-header
                a.cal-link
                  span June
                a.cal-arrow(href="#nov-week-1")
                  i.fa.fa-chevron-down
                a.cal-arrow(href="#oct-week-3")
                  i.fa.fa-chevron-down
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day(href="#schedule")
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day(href="#schedule")
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
            .cal-month.-january
              header.cal-header
                .cal-link
                  span July
                a.cal-arrow(href="#oct-week-4")
                  i.fa.fa-chevron-down
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
              a.cal-day
          .cal-scene.-schedule
            .cal-item
              .cal-time
                span 08:00
              .cal-task
                p wake up
            .cal-item.-long
              .cal-time
                span 12:15
              .cal-task
                p meeting with the team, discussing the project requirements
            .cal-item
              .cal-time
                span 13:00
              .cal-task
                p lunch with Peter
                a
                  i.fa.fa-map-marker
                  | cafe 
                  q Petit brasserie
            .cal-item
              .cal-time
                span 14:30
              .cal-task
                p call with Johnathan and Stevie
            .cal-item.-long
              .cal-time
                span 16:45
              .cal-task
                p project presentation
                a
                  i.fa.fa-map-marker
                  | Head Office
            .cal-item
              .cal-time
                span 18:00
              .cal-task
                p call with Johnathan and Stevie
            .cal-item.-long
              .cal-time
                span 19:00
              .cal-task
                p David's birthday party
                a
                  i.fa.fa-map-marker
                  | bar 
                  q Tailor's John
            .cal-item
              .cal-time
              .cal-task
