extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
  include ../partials/profilehead.pug
    hr
    a(href='/account/cal') Calendar -  
    a(href='/account/calsettings') Setup

  hr

  h3 Edit Calendar Entry

  form(action='/account/calentryupdate', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='user', value=user._id)
    input(type='hidden', name='group', value=user.group)
    input(type='hidden', name='calitemid', value=caldata._id)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='calentrytitle') Calendar Entry Title
      .col-md-7
        input.form-control(type='text', value=caldata.calentrytitle, name='calentrytitle', id='calentrytitle', autocomplete=caldata.calentrytitle)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='caldate') Date
      .col-md-7
        input.form-control(type='date', name='caldate', value=moment(caldata.caldate).format("YYYY-MM-DD"), id='caldate', format="dd/mm/yyyy", autocomplete=caldata.caldate)        
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='time') Time
      .col-md-7
        input.form-control(type='time', name='time', id='time', value=caldata.time, autocomplete=caldata.time)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='duration') Duration
      .col-md-7
        input.form-control(name='duration', id='duration', value=caldata.duration, autocomplete=caldata.duration, type='text', data-slider-min="0", data-slider-max="20", data-slider-step="1", data-slider-value="5", data-slider-enabled="false")
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='post') Post Content
      .col-md-7
        textarea.form-control( name="post", rows="6", cols="66", autocomplete=caldata.post) #{caldata.post} 
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='caltags') Tags
      .col-md-7
        input.form-control(type='text', name='caltags', id='caltags', value=caldata.caltags, autocomplete=caldata.caltags)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='location') Location
      .col-md-7
        input.form-control(type='text', name='location', id='location',  value=caldata.location, autocomplete=caldata.location)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='calcat') Category
      .col-md-7
        input.form-control(type='text', name='calcat', id='calcat', autocomplete=caldata.calcat, value=caldata.calcat)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Entry
