extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom


  a(href='/account/inventory') INVENTORY - 
  a(href='/account/inventorysettings') Settings - 
  a(href='/account/createloc') Add a Location

  hr
  
  h3 New Inventory Item

  form(action='/account/createinventory', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='user', value=user._id)
    input(type='hidden', name='group', value=user.group)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='inventorytitle') Name
      .col-md-7
        input.form-control(type='text', name='inventorytitle', id='inventorytitle', autocomplete='inventorytitle')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='post') Description
      .col-md-7
        textarea.form-control( name="post", rows="6", cols="66", autocomplete='post' ) 
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='price') Price
      .col-md-7
        input.form-control(type='text', name='price', id='price')

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='loctitle') Location:
      .col-md-7

                           select#sentto.select.form-control.input-lg(for='sentto', name='sentto')
                             - var groupp = { id: user.group }
                             - var grouppp = { id: user.profile.name }
                             option(value='0') -- Select --
                             each item,index in loc_list
                               if (groupp.id === item.group  && grouppp.id !== item.name)
                                 option(value=item.loctitle) #{item.loctitle}


    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='postcat') Category
      .col-md-7
        input.form-control(type='text', name='postcat', id='postcat')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='posttags') Tags
      .col-md-7
        input.form-control(type='text', name='posttags', id='posttags')

    
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='posttags') Add Dates
              a.toggle-trigger  >>>>>>>
      .col-md-7.toggle-wrap(style='display:none;')
              .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-left(for='postdate') Date
              input.form-control(type='date', name='postdate', id='postdate')
              .form-group.row
                input.form-control(type='text', name='datenote', id='datenote')
              .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-left(for='postdate2') Date
              input.form-control(type='date', name='postdate2', id='postdate2')
              .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-left(for='datenote') Date comment:
                input.form-control(type='text', name='datenote2', id='datenote2')

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='visibility') Visibility
       .col-md-7
         .form-check.form-check-inline
           input(type='radio', class='form-check-input', name='visibility', value='visible', data-toggle='radio')
         label.form-check-label Visible
         .form-check.form-check-inline
           input(type='radio', class='form-check-input', name='visibility', value='group', data-toggle='radio')
         label.form-check-label My Group Only
         .form-check.form-check-inline
          input(type='radio', class='form-check-input', name='visibility', value='subgroup', data-toggle='radio')
         label.form-check-label Sub Group Only
         .form-check.form-check-inline
          input(type='radio', class='form-check-input', name='visibility', value='invisible', data-toggle='radio')
         label.form-check-label Invisible
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Create inventory data item

  include ../partials/profilehead.pug
