extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
  include ../partials/profilehead.pug
    hr
    a(href='/account/elevator') Podcast -  
    a(href='/account/elevsettings') Setup

  hr

  h3 Edit Podcast Entry

  form(action='/account/elevatorentryupdate', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='user', value=user._id)
    input(type='hidden', name='group', value=user.profile.group)
    input(type='hidden', name='elevitemid', value=elevdata._id)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='eleventrytitle') Podcast Entry Title
      .col-md-7
        input.form-control(type='text', value=elevdata.eleventrytitle, name='eleventryurl', id='eleventryurl', autocomplete=elevdata.eleventryurl)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='eleventryurl') Media URL
      .col-md-7
        input.form-control(type='text', value=elevdata.eleventryurl, name='eleventryurl', id='eleventryurl', autocomplete=elevdata.eleventryurl)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='elevdate') Date
      .col-md-7
        input.form-control(type='date', name='elevdate', value=moment(elevdata.elevdate).format("YYYY-MM-DD"), id='elevdate', format="dd/mm/yyyy", autocomplete=elevdata.elevdate)        
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='duration') Duration
      .col-md-7
        input.form-control(name='duration', id='duration', value=elevdata.duration, autocomplete=elevdata.duration, type='text', data-slider-min="0", data-slider-max="180", data-slider-step="5", data-slider-value="30", data-slider-enabled="false")
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='post') Post Content
      .col-md-7
        textarea.form-control( name="post", rows="6", cols="66", autocomplete=elevdata.post) #{elevdata.post} 
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='embedcode') EmbedCode 
      .col-md-7
        textarea.form-control( name="embedcode", rows="6", cols="66", autocomplete=elevdata.embedcode) #{elevdata.embedcode} 
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='seqid') Time slot
      .col-md-7
        input.form-control(type='text', name='seqid', id='seqid', value=elevdata.seqid, autocomplete=elevdata.seqid)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='dayid') Day ID
      .col-md-7
        input.form-control(type='text', name='dayid', id='dayid', value=elevdata.dayid, autocomplete=elevdata.dayid)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='elevtags') Tags
      .col-md-7
        input.form-control(type='text', name='elevtags', id='elevtags', value=elevdata.elevtags, autocomplete=elevdata.elevtags)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='location') Location
      .col-md-7
        input.form-control(type='text', name='location', id='location',  value=elevdata.location, autocomplete=elevdata.location)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='elevcat') Category
      .col-md-7
        input.form-control(type='text', name='elevcat', id='elevcat', autocomplete=elevdata.elevcat, value=elevdata.elevcat)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Entry
