extends ../layout


block content
  .pb-2.mt-2.mb-4.border-bottom
  include ../partials/profilehead.pug
  
  span #{user.profile.group} group podcast - 
  a(href='/account/elevsettings') Settings - 
  a(href='/account/elevatorentrycreate') Add an entry
  p This podcast system appreciates AdamP, Andycapp, Virginia

    hr

    br
  - var userr = { id: user._id }

  - if (elevdata.length)
  
  each items in elevdata 
    if items.group == user.profile.group 

            strong #{moment(items.elevdate).format('MMM Do')} - #{items.eleventrytitle} #{items.username}
            p #{items.elevcat} #{userr.id}
            a(href='/account/elevator/'+items._id) Edit
            hr

  #calendar
