extends ../layout


block content
  .pb-2.mt-2.mb-4.border-bottom
  include ../partials/profilehead.pug
  
  span #{user.profile.group} panel
  if (user.group != "for ward" || user.group ==+ "For Ward" || user.group === "Forward")
    a(href='/account/elevatorentrycreate') New food request
  else
    span podcast
  span -
  a(href='/account/elevsettings') Settings - 
  a(href='/account/elevatormanage') Week view - 
  if (user.profile.group != "Ward Food Logistics")
    a(href='/account/elevatorentrycreate') Add an entry
  p We appreciate you!

  if (user.profile.group == "for Ward")
    strong Boulder food stores' specials:
    br
    a(href='https://www.alfalfas.com/whats-on-sale/sales-flyer/') Alfalfas Circular
    span - 
    a(href='https://www.naturalgrocers.com/hot-deals') NG hot deals
    span - 
    a(href='https://www.naturalgrocers.com/screaming-values') NG screaming values
    span - 
    a(href='https://www.traderjoes.com/fearless-flyer') TJ screaming values
    span - 
    a(href='https://www.sprouts.com/deals-of-the-month/?auto_locate=true&auto_flyer=true&auto_store=true') Sprouts
    span - 
    a(href='https://www.luckysmarket.com/boulder-flyer') Luckys Market
    hr

    br

  - if (elevdata.length)
  
  each items in elevdata 
         if items.group == user.group 
            a(href='/account/elevator/'+items._id) 
              i.fa.fa-pencil-square-o.fa-2x(aria-hidden='true') 
            a(href='/account/elevator/remove/'+items._id) 
              i.fa.fa-trash-o.fa-2x(aria-hidden='true') 
            strong #{items.eleventrytitle} - #{moment(items.elevdate).format('MMM Do')}
            br
            span Post by:
            strong #{user.profile.name}
            br
            if (user.profile.group != "Ward Food Logistics")
              a(href='https://'+items.eleventryurl) #{items.eleventryurl} 
              strong Category:
              a(href='/account/elevator/cat/'+items.elevcat) #{items.elevcat} 
            else
              strong pickup: 
              span #{items.location} 
              strong dropoff: 
              span #{items.elevtags} 
            hr
