extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
  include ../partials/profilehead.pug
    hr
    a(href='/account/elevator') ELEVATOR -  
    a(href='/account/elevatorentrycreate') Add an entry


  h3 Podcast Settings

  form(action='/account/elevsettings', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='elevtitle') Podcast Title
      .col-md-7
        input.form-control(type='text', name='elevtitle', id='elevtitle', value=user.elevsettings.elevtitle, autocomplete='elevtitle')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='shortdesc') Short Description
      .col-md-7
        input.form-control(type='text', name='shortdesc', id='shortdesc', value=user.elevsettings.shortdesc, autocomplete)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='elevdesc') Description
      .col-md-7
        textarea.form-control( name="elevdesc", rows="6", cols="66", autocomplete='elevdesc' ) #{user.elevsettings.elevdesc}   
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='elevtags') Tags
      .col-md-7
        input.form-control(type='text', name='elevtags', id='elevtags', value=user.elevsettings.elevtags, autocomplete='elevtags')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='visibility') Visibility
      .col-md-1.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.elevsettings.visibility == 'visible', name='visibility', value='visible', data-toggle='radio')
        label.form-check-label Visible
      .col-md-2.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.elevsettings.visibility == 'group', name='visibility', value='group', data-toggle='radio')
        label.form-check-label My Group Only
      .col-md-2.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.elevsettings.visibility == 'subgroup', name='visibility', value='subgroup', data-toggle='radio')
        label.form-check-label Sub Group Only
      .col-md-1.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.elevsettings.visibility == 'invisible', name='visibility', value='invisible', data-toggle='radio')
        label.form-check-label Invisible
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Settings
