extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

 
  - var userr = { id: user.profile.group }
  if userr.id  === ""
         span.caps UNSPECIFIED SELF HELP GROUP - 
  else
         span.caps #{ user.profile.group } SELF HELP GROUP -
  a(href='/account/groupsettings') Settings - 
  a(href='/account/creategroupnote') Add a note

    hr

    br

  h3 Group Notes
 
  hr


  - if (groupdata.length)
    each items in groupdata
         if items.group === userr.id 
           strong #{items.name} #{items.group} #{items.date}
           div admin: #{items.admin} witness: #{items.witness}
           div #{items.comment}
           hr

  br
  br
  br
  br
  br
  br
  hr

  include ../partials/profilehead.pug
