extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

  include ../partials/profilehead.pug
    a(href='/account/payment') Make a payment - 
    a(href='/account/setup') Payments Setup

  hr

  h3 Your Umati Transaction Records
 
    br
    br

    .container-fluid
      .row-fluid
        .span3

    - n=1; group_list.sort(function(a, b) {let textA = a.name.toUpperCase(); len=group_list.length;  let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each item,index in group_list
      - var num = n++
      if !(index % 2)

        //first section
        .row.align-items-center.how-it-works
            .col-2.text-center.bottom
                .circle #{moment(item.updatedAt).format('MMM Do')}
            .col-6
                h5 $#{item.amount} #{item.profile.group} group
                p #{item.profile.role[0]}
        
        
        .row.timeline
            .col-2
                .corner.top-right
            .col-8
                hr
            .col-2
                .corner.left-bottom

        if (num === len)  
                   br
                   a(href='/account/group')
                     .circleadd.h2 Add a new member  

      else
        .row.align-items-center.justify-content-end.how-it-works
            .col-6.text-right
                h5 $#{item.profile.group} group
                p business: #{item.profile.business}
            .col-2.text-center.full
                .circle  #{moment(item.createdAt).format('MMM Do')} 
        
        .row.timeline
            .col-2
                .corner.right-bottom
            .col-8
                hr
            .col-2
                .corner.top-left

        if (num === len)
                   br
                   a(href='/account/group')
                     .circleadd.h2 Add a new payment   

    else
      li There are no listed group members.
      hr