extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
  include ../partials/profilehead.pug
  
  span INVENTORY - 
  a(href='/account/inventorysettings') Settings - 
  a(href='/account/createinventory') Add an item

    hr
    br

  - var userr = { id: user._id }
  - if (data.length)
    each posts in data
        if posts.user == userr.id 
            strong #{posts.posttitle} - #{moment(posts.updatedAt).format('MMM Do h:mm:ss a')}  - #{posts.postcat}
            br
            div #{posts.post}  - #{posts.posttags}
            hr 

