extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 Manage Your Inventory

  include ../partials/profilehead.pug
    a(href='/account/inventorysettings') Settings - 
    a(href='/account/createinventory') New Inventory

    hr

  - var userr = { id: user._id }
  - if (data.length)
    each posts in data
        if posts.user == userr.id 
            strong #{posts.posttitle} - #{moment(posts.updatedAt).format('MMM Do h:mm:ss a')}  - #{posts.postcat}
            br
            div #{posts.post}  - #{posts.posttags}
            hr 

