extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    hr
    span For Sale # purchase this item now for #{items.price}
    a(href='/account/possettings') Settings - 
    a(href='/account/posentrycreate') Add an item - 
    a(href='#', type="button", data-toggle="modal", data-target="#myModal") Media Manager
 
  .modal#myModal
    .modal-dialog
      .modal-content.content
        .modal-header
          .row
          .col-md-7
          h4.modal-title UMATI BANK
             img(src="/lion.png",border="0")
             a.navbar-brand(href='/')
          button.close(type="button", data-dismiss="modal") ×
        .modal-body.content
          .row
          .col-md-5
          span Note, this is set up to use 3rd party APIs. go to your
          a(href='/account/profile') account profile
          to add one.
          h2  Add images
          form(action="/account/upload", method="POST", enctype="multipart/form-data")
          input(type='hidden', name='user', value=user.id)
          p Name of item:
          input.thedata(type="text", name="item")
          br
          br
          |
          Photo
            input.thefile(type="file", name="uploaded_file")
            button(type="submit") Add item

  h3 #{user.business.name}
   
    br
    br
  - var userr = { id: user._id }  


  - if (posdata.length)
  .card-columns
    each items in posdata
       if items.username == userr.id 
           .card.bg-light
             .card-body.text-left
               p.card-text.h2 #{items.postitle}
               p.card-text.text-center #{items.location} #{items.time}  tags: #{items.postags} #{items.poscat}
               a(href='/account/pos/'+items._id).text Edit
               updated  &nbsp; &nbsp; &nbsp;  updated #{moment(items.updatedAt).format('MMM Do h:mm:ss a')}
    a(href='/account/posentrycreate') Add an entry -
        hr

  br
  br
  br
  br
  br
  br
  hr

  include ../partials/profilehead.pug
