extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
  
  span Loc - 
  a(href='/account/locsettings') Settings - 
  a(href='/account/createloc') Add a location

    hr

    br

  - var userr = { id: user._id }
  - if (locs.length)
    each locas in locs
        if locas.username == userr.id 
            strong #{locas.loctitle} - #{locas.locdate}  - #{locas.loccats}
            br
            #{locas.description}
            a(href='/account/loc/'+locas._id).icon-edit Edit 
            updated  &nbsp; &nbsp; &nbsp;  updated #{moment(locs.updatedAt).format('MMM Do h:mm:ss a')}
            hr



  #map
  hr
  br
  br
  br
  br
  br
  br
  include ../partials/profilehead.pug
  script.
	
              var map = L.map('map').setView({lon: 0, lat: 0}, 2);
	
              L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
              }).addTo(map);

               L.control.scale().addTo(map);
               L.marker({lon: 0, lat: 0}).bindPopup('The center of the world').addTo(map);

