extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
 
    hr
    a(href='/account/loc') Loc -  
    a(href='/account/createloc') add a location

  h3 Location Settings


  form(action='/account/locsettings', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='description') Description
      .col-md-7
        textarea.form-control.hidden(type='text', name="description", rows="5", cols="46", autocomplete='user.locsettings.descripton') #{user.locsettings.description}
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='visibility') Visibility
      .col-md-1.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.locsettings.visibility == 'visible', name='visibility', id='visibility', value='visible', data-toggle='radio')
        label.form-check-label Visible
      .col-md-2.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.locsettings.visibility == 'group', name='visibility', id='visibility', value='group', data-toggle='radio')
        label.form-check-label My Group Only
      .col-md-2.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.locsettings.visibility == 'subgroup', name='visibility', id='visibility', value='subgroup', data-toggle='radio')
        label.form-check-label Sub Group Only
      .col-md-1.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.locsettings.visibility == 'invisible', name='visibility', id='visibility', value='invisible', data-toggle='radio')
        label.form-check-label Invisible
    .form-group 
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Settings

  include ../partials/profilehead.pug
