extends ../layout

block content

    .col-md-10
      .row.inbox-wrapper
        .col-lg-12
          .card
            .card-body
              .row
                .col-lg-3.email-aside.border-lg-right
                  .aside-content
                    .aside-header
                      button.navbar-toggle(data-target=".aside-nav", data-toggle="collapse", type="button")
                        span.icon
                          svg.feather.feather-chevron-down(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            polyline(points="6 9 12 15 18 9")
                      span.title Tagged Messages


                    p.description #{user.profile.name}, #{user.business.name}
                    .aside-compose
                      a.btn.btn-primary.btn-block(href="messagecompose") Compose Message
                    .aside-nav.collapse
                      ul.nav
                        li.active
                          a(href="messages")
                            span.icon
                              svg.feather.feather-inbox(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                polyline(points="22 12 16 12 14 15 10 15 8 12 2 12")
                                path(d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z")
                            | Inbox
                            span.badge.badge-danger-muted.text-white.font-weight-bold.float-right 2
                        li
                          a(href="messagessent")
                            span.icon
                              svg.feather.feather-mail(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z")
                                polyline(points="22,6 12,13 2,6")
                            | Sent Mail
                        li
                          a(href="#")
                            span.icon
                              svg.feather.feather-briefcase(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                rect(x="2", y="7", width="20", height="14", rx="2", ry="2")
                                path(d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16")
                            | Important
                            span.badge.badge-info-muted.text-white.font-weight-bold.float-right 4
                        li
                          a(href="messagesdrafts")
                            span.icon
                              svg.feather.feather-file(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z")
                                polyline(points="13 2 13 9 20 9")
                            | Drafts
                        li
                          a(href="messagestags")
                            span.icon
                              svg.feather.feather-star(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                polygon(points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2")
                            | Tags
                        li
                          a(href="messagestrash")
                            span.icon
                              svg.feather.feather-trash(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                polyline(points="3 6 5 6 21 6")
                                path(d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2")
                            | Trash
                      span.title Labels
                      ul.nav.nav-pills.nav-stacked
                        li
                          a(href="#")
                            svg.feather.feather-tag.text-warning(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                              path(d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z")
                              line(x1="7", y1="7", x2="7.01", y2="7")
                            |  Important 
                        li.active
                          a(href="#")
                            svg.feather.feather-tag.text-primary(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                              path(d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z")
                              line(x1="7", y1="7", x2="7.01", y2="7")
                            |  Business 
                        li
                          a(href="#")
                            svg.feather.feather-tag.text-info(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                              path(d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z")
                              line(x1="7", y1="7", x2="7.01", y2="7")
                            |  Inspiration 
                .col-lg-9.email-content
                  .email-head
                    .email-head-subject
                      .title.d-flex.align-items-center.justify-content-between
                        .d-flex.align-items-center
                          a.active(href="#")
                            span.icon
                              svg.feather.feather-star.text-primary-muted(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                polygon(points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2")
                          span #{user.profile.group} Group
                        .icons
                          a.icon(href="#")
                            svg.feather.feather-share.text-muted.hover-primary-muted(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round", data-toggle="tooltip", data-original-title="Forward")
                              path(d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8")
                              polyline(points="16 6 12 2 8 6")
                              line(x1="12", y1="2", x2="12", y2="15")
                          a.icon(href="#")
                            svg.feather.feather-printer.text-muted(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round", data-toggle="tooltip", data-original-title="Print")
                              polyline(points="6 9 6 2 18 2 18 9")
                              path(d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2")
                              rect(x="6", y="14", width="12", height="8")



                  - var userr = { id: user.profile.name }
                  each item,index in message_list
                    if (item.status=== "draft")
                      .email-head-sender.d-flex.justify-content-between.flex-wrap
                        .d-flex.align-items-center
                          .avatar
                            if user.profile.picture
                              img.rounded-circle.user-avatar-md(src=user.profile.picture)
                            else
                              img.rounded-circle.user-avatar-md(src=user.gravatar(60))
                              i.caret
                          .sender.d-flex.align-items-left
                            strong #{item.sentfrom} 
                          .sender.d-flex.align-items-center
                            strong  -  #{item.subject}
                            |  
                            .actions.dropdown
                              a.icon(href="#", data-toggle="dropdown")
                                svg.feather.feather-chevron-down(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                polyline(points="6 9 12 15 18 9")
                            .dropdown-menu(role="menu")
                               a.dropdown-item(href="#") Mark as read
                               a.dropdown-item(href="#") Mark as unread
                               a.dropdown-item(href="#") Spam
                            .dropdown-divider
                               a.dropdown-item.text-danger(href="#") Delete
                          .sender.d-flex.align-items-right
                          .date #{moment(item.createdAt).format('lll')}
                          a.icon.d-flex.align-items-right.justify-content-between.flex-wrap(href='messagestrash/' + item._id )
                            svg.feather.feather-trash.text-muted(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round", data-toggle="tooltip", data-original-title="Delete")
                              polyline(points="3 6 5 6 21 6")
                              path(d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2")
                      .email-head-sender.d-flex.align-items-center.justify-content-between.flex-wrap
                        p
                          a.toggle-trigger read
                        p.
                        .toggle-wrap(style='display:none;')
                          .style-single.
                            #{item.message}
