extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

  include ../partials/profilehead.pug
  
 
  span POINT OF SALE - 
  a(href='/account/possettings') Settings - 
  a(href='/account/posentrycreate') Add an item
 
  hr


  h3 #{user.business.name}
   
    br
    br
  - var userr = { id: user._id }  


  - if (posdata.length)
  .card-columns
    each items in posdata
       if items.username == userr.id 
           .card.bg-light
             .card-body.text-left
               p.card-text.strong #{items.postitle}
               p.card-text.text-center #{items.location} #{items.time}  tags: #{items.postags} #{items.poscat}
               a(href='/account/pos/'+items._id).text Edit
               updated  &nbsp; &nbsp; &nbsp;  updated #{moment(items.updatedAt).format('MMM Do h:mm:ss a')}
    a(href='/account/posentrycreate') Add an entry -
        hr

  .card-columns
           .card.bg-primary
             .card-body.text-center
               p.card-text Some text inside the first card
           .card.bg-warning
             .card-body.text-center
               p.card-text Some text inside the second card
           .card.bg-success
             .card-body.text-center
               p.card-text Some text inside the third card
           .card.bg-danger
             .card-body.text-center
               p.card-text Some text inside the fourth card
           .card.bg-light
             .card-body.text-center
               p.card-text Some text inside the fifth card
           .card.bg-info
             .card-body.text-center
               p.card-text Some text inside the sixth card

