extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 Edit Point of Sale Item

  include ../partials/profilehead.pug

    .form-group.row
    a(href='/account/pos') Pos - 
    a(href='/account/possettings') Settings


  form(action='/account/posentryedit', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='user', value=user._id)
    input(type='hidden', name='positemid', value=pos._id)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='postitle') Name
      .col-md-7
        input.form-control(type='text', name='postitle', id='postitle' , value=pos.postitle, autocomplete=pos.postitle)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='posdate') Date
      .col-md-7
        input.form-control(type='date', name='posdate', id='posdate', value=moment(pos.posdate).format('YYYY-MM-DD') autocomplete=pos.posdate)        
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='post') Description
      .col-md-7
        textarea.form-control( name="post", id="post", rows="6", cols="66", autocomplete='pos.post' ) #{pos.post}
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='location') Location of Item
      .col-md-7
        input.form-control(type='text', name='location', id='location', value=pos.location, autocomplete=pos.location)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='poscat') Category
      .col-md-7
        input.form-control(type='text', name='poscat', id='poscat', autocomplete=pos.poscat, value=pos.poscat)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='postag') Tags
      .col-md-7
        input.form-control(type='text', name='postags', id='postags', autocomplete=pos.postags, value=pos.postags)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='visibility') Visibility
       .col-md-7
      .form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=pos.visibility == 'visible', name='visibility', value='visible', data-toggle='radio')
        label.form-check-label Visible
      .form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=pos.visibility == 'group', name='visibility', value='group', data-toggle='radio')
        label.form-check-label My Group Only
      .div.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=pos.visibility == 'subgroup', name='visibility', value='subgroup', data-toggle='radio')
        label.form-check-label Sub Group Only
      .div.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=pos.visibility == 'invisible', name='visibility', value='invisible', data-toggle='radio')
        label.form-check-label Invisible
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Item
