extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Point of Sale Settings

  include ../partials/profilehead.pug

  form(action='/account/possettings', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='postitle') Shop title
      .col-md-7
        input.form-control(type='text', name='postitle', id='postitle', value=user.possettings.postitle, autocomplete='postitle')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='shortdesc') Short Description
      .col-md-7
        input.form-control(type='text', name='shortdesc', id='shortdesc', value=user.possettings.shortdesc, autocomplete)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='posdesc') Full Description
      .col-md-7
        input.form-control(type='text', name='posdesc', id='posdesc', value=user.possettings.posdesc, autocomplete)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='postags') Tags
      .col-md-7
        input.form-control(type='text', name='postags', id='postags', value=user.possettings.postags, autocomplete='postags')

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='visibility') Visibility
      .col-md-1.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.possettings.visibility == 'visible', name='visibility', value='visible', data-toggle='radio')
        label.form-check-label Visible
      .col-md-2.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.possettings.visibility == 'group', name='visibility', value='group', data-toggle='radio')
        label.form-check-label My Group Only
      .col-md-2.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.possettings.visibility == 'subgroup', name='visibility', value='subgroup', data-toggle='radio')
        label.form-check-label Sub Group Only
      .col-md-1.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.possettings.visibility == 'invisible', name='visibility', value='invisible', data-toggle='radio')
        label.form-check-label Invisible

    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Settings
