extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 Settings

  include ../partials/profilehead.pug

  form(action='/account/actionprofile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    h3 #{user.group} Dashboard
    h4 #{user.usecase} customizations:

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='need') What are your needs?
      .col-md-7

          label.btn.btn-outline-success
            if (user.need_buildingsupplies === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_buildingsupplies/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_buildingsupplies/")
            | Building supplies

          label.btn.btn-outline-success
            if (user.need_compost === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_compost/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_compost/")
            | Compost

          label.btn.btn-outline-success
            if (user.need_compostpickup === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_compostpickup/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_compostpickup/")
            | Compost pickup

          label.btn.btn-outline-success
            if (user.need_householditems === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_householditems/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_householditems/")
            | Household Items

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='need2')
      .col-md-7
        .btn-group(data-toggle="buttons")
          label.btn.btn-outline-success
            if (user.need_tools === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_tools/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_tools/")
            | Tools

          label.btn.btn-outline-success
            if (user.need_clothing === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_clothing/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_clothing/")
            | Clothing

          label.btn.btn-outline-success
            if (user.need_plants === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_plants/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_plants/")
            | Plants

          label.btn.btn-outline-success
            if (user.need_books === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_books/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_books/")

            | Books

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='specificitem')
      .col-md-7
        .btn-group(data-toggle="buttons")
          label.btn.btn-outline-success
            if (user.need_catfood === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_catfood/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_catfood/")
            | Cat Food
          label.btn.btn-outline-success
            if (user.need_dogfood === "checked")
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_dogfood/" checked)
            else
              input.notifyreq(type="checkbox", autocomplete="off", href="/account/profileajax/" + user._id + "/need_dogfood/")
            | Dog Food





  form(action='/account/profile', method='POST', id="profile")
    input(type='hidden', name='_csrf', value=_csrf)
    hr
    h3 #{user.name} Profile
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
      .col-md-7
        input.form-control(type='text', name='name', id='name', value=user.profile.name, autocomplete='name')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left Avatar
      .col-sm-4
        img(src="https://avatars.dicebear.com/api/human/" + user.profile.name +".svg", class='profile', width='100', height='100')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', value=user.email, autocomplete='email', required)
      .offset-sm-3.col-md-7.pl-3
        if user.emailVerified
          .text-success.font-italic
            | Verified
        else
          .text-danger.font-italic
            | Unverified: &nbsp;
            a(href='/account/verify') (no) Send verification email (yet)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left.hidden(for='story') Your story
      .col-md-7.hidden
        textarea.form-control.hidden(type='text', name="story", rows="3", cols="46", autocomplete='user.profile.story') #{user.profile.story}
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='location') Location
      .col-md-7
        input.form-control(type='text', name='location', id='location', value=user.profile.location, autocomplete='user.profile.location')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='business') Business
      .col-md-7
        input.form-control(type='text', name='business', id='business', value=user.profile.business, autocomplete='user.profile.business')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='group') Group
      .col-md-7
        input.form-control(type='text', name='group', id='group', value=user.group, autocomplete='user.group')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='grouplead') Group Lead
      .col-md-7
        input.form-control(type='text', name='grouplead', id='grouplead', value=user.grouplead, autocomplete='user.grouplead')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='role') Role
      .col-md-7
        input.form-control(type='text', name='role', id='role', value=user.profile.role, autocomplete='user.profile.role')        
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='website') Website
      .col-md-7
        input.form-control(type='text', name='website', id='website', value=user.profile.website, autocomplete='user.profile.website')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='vocation') Vocation
      .col-md-7
        input.form-control(type='text', name='vocation', id='vocation', value=user.profile.vocation, autocomplete='user.profile.vocation')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Profile

  .pb-2.mt-2.mb-4.border-bottom
    h3 Change Password

  form(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='password') New Password
      .col-md-7
        input.form-control(type='password', name='password', id='password', autocomplete='new-password', minlength='8', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password', minlength='8', required)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm
          | Change Password

  .pb-2.mt-2.mb-4.border-bottom
    h3 Delete Account

  form(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
    .form-group
      p.offset-sm-3.col-md-7.pl-2 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Delete my account

  .pb-2.mt-2.mb-4.border-bottom
    h3 Linked Accounts
  .form-group
    .offset-sm-3.col-md-7.pl-2
      if user.instagram
        p.mb-1: a.text-danger(href='/account/unlink/instagram') Unlink your Instagram account
      else
        p.mb-1: a(href='/auth/instagram') Link your Instagram account
    .offset-sm-3.col-md-7.pl-2
      if user.google
        p.mb-1: a.text-danger(href='/account/unlink/google') Unlink your Google account
      else
        p.mb-1: a(href='/auth/google') Link your Google account
    .offset-sm-3.col-md-7.pl-2
      if user.facebook
        p.mb-1: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
      else
        p.mb-1: a(href='/auth/facebook') Link your Facebook account
      if user.snapchat
        p.mb-1: a.text-danger(href='/account/unlink/snapchat') Unlink your Snapchat account
      else
        p.mb-1: a(href='/auth/snapchat') Link your Snapchat account
    .offset-sm-3.col-md-7.pl-2
      if user.twitter
        p.mb-1: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
      else
        p.mb-1: a(href='/auth/twitter') Link your Twitter account
    .offset-sm-3.col-md-7.pl-2
      if user.github
        p.mb-1: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
      else
        p.mb-1: a(href='/auth/github') Link your GitHub account
    .offset-sm-3.col-md-7.pl-2
      if user.linkedin
        p.mb-1: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
      else
        p.mb-1: a(href='/auth/linkedin') Link your LinkedIn account
    .offset-sm-3.col-md-7.pl-2
      if user.steam
        p.mb-1: a.text-danger(href='/account/unlink/steam') Unlink your Steam account
      else
        p.mb-1: a(href='/auth/steam') Link your Steam account
    .offset-sm-3.col-md-7.pl-2
      if user.quickbooks
        p.mb-1: a.text-danger(href='/account/unlink/quickbooks') Unlink your QuickBooks account
      else
        p.mb-1: a(href='/auth/quickbooks') Link your QuickBooks account

  .modal-footer

    button.btn.btn-secondary(type="button", data-dismiss="modal") Close
    button.btn.btn-primary(type="button") ok







  .modal.fade#resinvModal(tabindex="-1", role="dialog", aria-labelledby="resinvModalLabel", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header(style="background-color:ltgrey")
          img(src="/lion.png",border="0")
          h5.modal-title#resinvModalLabel &nbsp; Resource Inventory
          button.close(type="button", data-dismiss="modal", aria-label="Close")
           span(aria-hidden="true") ×
        .modal-body
            .form-group.row
              .col
                label.switch Describe the resources you would like to manage
                  textarea.form-control.hidden(type='text', name="story", rows="4", cols="auto", autocomplete='user.profile.story') #{user.profile.story}
              .col-xsm
                button.btn.btn-primary(type="submit") save
              .col-xsm
                span &nbsp; &nbsp;
            .form-group.row
              .col
                ul.nav.nav-pills
                  li.nav-item
                    if (user.surplus === "have_surplus")
                      a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") I expect surplus
                    else
                      a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") I expect surplus
                  li.nav-item
                    if (user.surplus === "schedule_pickup")
                      a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") schedule surplus pickup
                    else
                      a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") schedule surplus pickup
                  li.nav-item
                    if (user.surplus === "no")
                      a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not at this time
                    else
                      a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not at this time

            .form-group.row
              .col
                label.switch building supplies 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;
                label.switch need compost 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;
                label.switch compost pickup 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;
                label.switch household items 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;
                label.switch tools 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;
                label.switch clothing 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;
                label.switch plants 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;
                label.switch dog food 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;
                label.switch cat food 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;
                label.switch books 
                  input(type="checkbox")
                span &nbsp &nbsp; &nbsp;

        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close





  .modal.fade#scdModal(tabindex="-1", role="dialog", aria-labelledby="scdModalLabel", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header(style="background-color:ltgrey")
          img(src="/lion.png",border="0")
          h5.modal-title#scdModalLabel &nbsp; SCD Clinics
          p.modal-title#scdModalLabel
          button.close(type="button", data-dismiss="modal", aria-label="Close")
           span(aria-hidden="true") ×
        .modal-body
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='pickupneed')
              ul.nav.nav-pills
                li.nav-item
                  if (user.surplus === "have_surplus")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") yes
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") yes
                li.nav-item
                  if (user.surplus === "schedule_pickup")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") ok to schedule a pickup
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") ok to schedule a pickup
                li.nav-item
                  if (user.surplus === "regular_pickups")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/regular_pickups/") regular pickups
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/regular_pickups/") regular pickups
                li.nav-item
                  if (user.surplus === "no")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not at this time
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not at this time

        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close





  .modal.fade#creativeModal(tabindex="-1", role="dialog", aria-labelledby="creativeModalLabel", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header(style="background-color:ltgrey")
          img(src="/lion.png",border="0")
          h5.modal-title#creativeModalLabel &nbsp; Creative Projects
          button.close(type="button", data-dismiss="modal", aria-label="Close")
           span(aria-hidden="true") ×
        .modal-body
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='pickupneed')
              ul.nav.nav-pills
                li.nav-item
                  if (user.surplus === "have_surplus")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") yes
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") yes
                li.nav-item
                  if (user.surplus === "schedule_pickup")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") ok to schedule a pickup
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") ok to schedule a pickup
                li.nav-item
                  if (user.surplus === "regular_pickups")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/regular_pickups/") regular pickups
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/regular_pickups/") regular pickups
                li.nav-item
                  if (user.surplus === "no")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not at this time
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not at this time


        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close



  .modal.fade#basicExampleModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header(style="background-color:ltgrey")
          img(src="/lion.png",border="0")
          h5.modal-title#exampleModalLabel &nbsp; Other use cases
          button.close(type="button", data-dismiss="modal", aria-label="Close")
           span(aria-hidden="true") ×
        .modal-body

          if !user
            a.nav-link(href='/login') Login
            a.nav-link(href='/signup') Create Account
            p Please log in and check your group section.
          else


            .form-group.row
              .col-md-7.hidden
                textarea.form-control.hidden(type='text', name="story", rows="4", cols="auto", autocomplete='user.profile.story') #{user.profile.story}

            .form-group.row
              col.label.col-md-3.col-form-label.font-weight-bold.text-right(for='pickupneed')
              ul.nav.nav-pills
                li.nav-item
                  if (user.surplus === "have_surplus")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") yes
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") yes
                li.nav-item
                  if (user.surplus === "schedule_pickup")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") ok to schedule a pickup
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") ok to schedule a pickup
                li.nav-item
                  if (user.surplus === "regular_pickups")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/regular_pickups/") regular pickups
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/regular_pickups/") regular pickups
                li.nav-item
                  if (user.surplus === "no")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not available
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not available



            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='interest_pickup_deliver')
              ul.nav.nav-pills
                li.nav-item
                  if (user.pickup_deliver === "yes")
                    a.nav-link.pickup_deliver.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/pickup_deliver/yes/") I can do deliveries
                  else
                    a.nav-link.pickup_deliver(data-toggle="tab", id="yes_pickup_deliver", href="/account/profileajax/" + user._id + "/pickup_deliver/yes/") I can do deliveries
                li.nav-item
                  if (user.pickup_deliver === "schedule_something")
                    a.nav-link.pickup_deliver.active(data-toggle="tab", id="schedule_something", href="/account/profileajax/" + user._id + "/pickup_deliver/schedule_something/") Let's schedule something
                  else
                    a.nav-link.pickup_deliver(data-toggle="tab", id="schedule_something", href="/account/profileajax/" + user._id + "/pickup_deliver/schedule_something/") Let's schedule something
                li.nav-item
                  if (user.pickup_deliver === "no")
                    a.nav-link.pickup_deliver.active(data-toggle="tab", id="yes_pickup_deliver", href="/account/profileajax/" + user._id + "/pickup_deliver/no/") not at this time
                  else
                    a.nav-link.pickup_deliver(data-toggle="tab", id="yes_pickup_deliver", href="/account/profileajax/" + user._id + "/pickup_deliver/no/") not at this time

            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='unloading_cleaning')
              ul.nav.nav-pills
                li.nav-item
                  if (user.warehouse_vol === "yes")
                    a.nav-link.surplus.active(data-toggle="tab", id="unload_clean_organize", href="/account/profileajax/" + user._id + "/warehouse_vol/yes/") Available for loading & unloading
                  else
                    a.nav-link.surplus(data-toggle="tab", id="unload_clean_organize", href="/account/profileajax/" + user._id + "/warehouse_vol/yes/") Available for loading & unloading
                li.nav-item
                  if (user.warehouse_vol === "no")
                    a.nav-link.surplus.active(data-toggle="tab", id="no_unload_clean_organize", href="/account/profileajax/" + user._id + "/warehouse_vol/no/") not available
                  else
                    a.nav-link.surplus(data-toggle="tab", id="no_unload_clean_organize", href="/account/profileajax/" + user._id + "/warehouse_vol/no/")  not available


        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close




  .modal.fade#foodsecModal(tabindex="-1", role="dialog", aria-labelledby="foodsecModalLabel", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header(style="background-color:ltgrey")
          h5.modal-title#foodsecModalLabel &nbsp; Food Security
          img(src="/lion.png",border="0")
          button.close(type="button", data-dismiss="modal", aria-label="Close")
           span(aria-hidden="true") ×
        .modal-body

            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='pickupneed')
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='item_requested') Request(s):
              .col-md-7
                input.form-control(type='text', name='item_requested', id='item_requested', placeholder='Whatever you may need', value=user.item_requested, autofocus, autocomplete='user.item_requested')

            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='item_requested') Offered:
              .col-md-7
                input.form-control(type='text', name='item_offered', id='item_offered', placeholder='Whatever you have to share', value=user.item_offered, autofocus, autocomplete='user.item_offered')


              ul.nav.nav-pills
                li.nav-item
                  if (user.surplus === "have_surplus")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") I have surplus
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/have_surplus/") I have surplus
                li.nav-item
                  if (user.surplus === "schedule_pickup")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") schedule a time to pick it up
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/schedule_pickup/") schedule a time to pick it up
                li.nav-item
                  if (user.surplus === "no")
                    a.nav-link.surplus.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not available
                  else
                    a.nav-link.surplus(data-toggle="tab", href="/account/profileajax/" + user._id + "/surplus/no/") not available



            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='interest_pickup_deliver')
              ul.nav.nav-pills
                li.nav-item
                  if (user.pickup_deliver === "yes")
                    a.nav-link.pickup_deliver.active(data-toggle="tab", href="/account/profileajax/" + user._id + "/pickup_deliver/yes/") I can help deliver
                  else
                    a.nav-link.pickup_deliver(data-toggle="tab", id="yes_pickup_deliver", href="/account/profileajax/" + user._id + "/pickup_deliver/yes/") I can help deliver
                li.nav-item
                  if (user.pickup_deliver === "schedule_something")
                    a.nav-link.pickup_deliver.active(data-toggle="tab", id="schedule_something", href="/account/profileajax/" + user._id + "/pickup_deliver/schedule_something/") Let's schedule something
                  else
                    a.nav-link.pickup_deliver(data-toggle="tab", id="schedule_something", href="/account/profileajax/" + user._id + "/pickup_deliver/schedule_something/") Let's schedule something
                li.nav-item
                  if (user.pickup_deliver === "no")
                    a.nav-link.pickup_deliver.active(data-toggle="tab", id="yes_pickup_deliver", href="/account/profileajax/" + user._id + "/pickup_deliver/no/") not at this time
                  else
                    a.nav-link.pickup_deliver(data-toggle="tab", id="yes_pickup_deliver", href="/account/profileajax/" + user._id + "/pickup_deliver/no/") not at this time

        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close
