extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
 
  
  a(href='/account/project') PROJECT - 
  a(href='/account/createsubproject') Add a sub project 
  a(href='/account/createprojectnote') Add a note


  hr

  h3.caps #{ user.profile.name }'s settings for #{ user.project } project

  form(action='/account/projectsettings', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='projectname') name of the project
      .col-md-7
        input.form-control(type='text', name='projectname', id='projectname', value=user.projectsettings.projectname, autocomplete='projectname')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='adminperson') web link
      .col-md-7
        input.form-control(type='text', name='adminperson', id='adminperson', value=user.projectsettings.adminperson, autocomplete)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='location') web link
      .col-md-7
        input.form-control(type='text', name='location', id='location', value=user.projectsettings.location, autocomplete)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='shortdesc') web link
      .col-md-7
        input.form-control(type='text', name='shortdesc', id='shortdesc', value=user.projectsettings.shortdesc, autocomplete='shortdesc')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='description') some thoughts
      .col-md-7
        textarea.form-control( name="description", rows="6", cols="66", autocomplete='description' ) #{user.projectsettings.description}        
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='visibility') Your visibility
      .col-md-1.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.projectsettings.visibility == 'visible', name='visibility', value='visible', data-toggle='radio')
        label.form-check-label Visible
      .col-md-2.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.projectsettings.visibility == 'group', name='visibility', value='group', data-toggle='radio')
        label.form-check-label My Group Only
      .col-md-2.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.projectsettings.visibility == 'subgroup', name='visibility', value='subgroup', data-toggle='radio')
        label.form-check-label Sub Group Only
      .col-md-1.form-check.form-check-inline
        input(type='radio', class='form-check-input' checked=user.projectsettings.visibility == 'invisible', name='visibility', value='invisible', data-toggle='radio')
        label.form-check-label Invisible
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Project Settings

  include ../partials/profilehead.pug
